---
interface Props {
  title: string;
  description: string;
  og_type : string;
}

const { title, description, og_type} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={og_type}/>
    <!--<meta property="og:url" content={pageUrl} />-->
    <!--<meta property="og:image" content={imageUrl} />--->
    <meta property="og:site_name" content="Nouse" />
    <meta property="og:locale" content="en_GB" />
    <title>{title}</title>
    <slot name="structured-data" />
  </head>
  <body>
    <main class="max-w-3xl mx-auto py-16 px-4 z-10">
       <div>This is header</div>
      <slot />
      <div>this is footer</div>
    </main>
  </body>
</html>