---
import Footer from '@/components/Footer.astro';
import Navbar from '@/components/Navbar.astro';
import NavbarTwo from '@/components/NavbarTwo.astro';
import "../styles/global.css";
import type { Page } from '@/types/content';

const {
  name,
  slug,
  description,
  title,
  publication,
  type,
  colour,
  hover_colour,
  text_colour,
  border_colour,
  og_image,
  parent_slug
} = Astro.props as Page;

---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!--<meta property="og:type" content={og_type}/>-->
    <!--<meta property="og:url" content={pageUrl} />-->
    <!--<meta property="og:image" content={imageUrl} />--->
    <meta property="og:site_name" content="Nouse" />
    <meta property="og:locale" content="en_GB" />
    <title>{title}</title>
  </head>
  <body class="h-full flex flex-col">
    <NavbarTwo></NavbarTwo>
    <main class="flex-1 h-full flex flex-col">
      <slot />
    </main>
      <Footer colour={colour ? colour : "bg-blue-400"} hover_colour={hover_colour ? hover_colour : "text-blue-300"} text_colour={text_colour ? text_colour : "text-blue-400"} border_colour={border_colour ? border_colour : "border-blue-400"}'></FooterTwo>


  </body>
</html>